@use '../index';
.verification {
  color: var(--color-main);
  &__title {
  }
  &__container {
    margin-inline: 10rem;
    display: flex;
    justify-content: space-between;
  }
  &__form {
    @extend %form-container;
    padding-block: 3rem;

    &-title {
      @extend %form-title;
    }
    &-input {
      margin-inline: 4rem;
    }
  }
  &__info {
    @extend %form-container;
   
    padding-block: 3rem;
    min-width: 55rem;
    ::-webkit-scrollbar{
      width: 0;
      display: none;
    }
    &-title {
      @extend %form-title;
      margin-bottom: 3rem;
      // font-size: 1.7rem;
    }
    &-container {
      // padding-inline-start: 2.5rem;
    }
    &-products {
      &--title {
        font-size: 1.9rem;
        margin-bottom: 2rem;
      }
      &--wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 25rem;
        .cart-product__image{
          @apply w-[20rem] h-[15rem] lg:w-[16rem] lg:h-[11rem];
      
        }
        .cart-product{
          justify-content: start
        }
        .product {
          @extend %JSB;
          align-items: flex-start;
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
          &-desc {
            width: 68%;
            font-size: 1.4rem;
            color: #444;
            &-main {
              margin-bottom: 0.7rem;
              -webkit-line-clamp: 4;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
            }
          }
          &-price {
            width: 30%;
            font-size: 1.7rem;
          }
        }
      }
      .total {
        @extend %JSB;
        margin-top: 1.5rem;
        &-title {
          @extend %form-title;
          margin-bottom: 0;
          font-size: 1.8rem;
        }
        &-price {
          
          @apply text-[#087DA7] text-[2rem];
        }
      }
    }
  }
  &__title {
  }
  &__title {
  }

  .payment {
    margin-top: 1.5rem;
    &-title {
      // @extend %form-title;
      font-size: 1.9rem;
      margin-bottom: 1.5rem;
    }
    &-options {
      padding-inline-start: 3rem;
    }
    &-option {
      label {
        @extend %AC;
        // font-size: 1.5rem;
      }
      input {
        margin-inline-end: 1rem;
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
  .form-btns {
    width: auto;
    margin-top: 2rem;
  }
}
